@charset "utf-8";

*{
    margin: 0 auto;
    padding: 0px;
}
li {
    list-style-type: none;
    list-style-position: outside;
}
body{
  font-family: 'M PLUS 1p';
}

#wrapper{
  background-color: #f9fffa;
  width: 730px;
  border: black 1px solid;
}
a{
  text-decoration: none;
  color: black;
  display: block;
}
button{
  cursor: pointer;
}

header{
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
}
header p:nth-child(1){
  position: relative;
  left: -55px;
}
header ul{
  display: flex;
  position: relative;
  right: -52px;
  font-size: 15px;
}
header li{
  margin-left: 20px;
}
header a{
  background-color: #8aff6e;
  padding: 5px 20px;
}

.clear{
  width: 730px;
  height: 338px;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top: 65px;
}
.main form{
  border: solid 1px;
  position: absolute;
  top: 200px;
  left: 360px;
}
.main form button{
  height: 33px;
  width: 150px;
  text-decoration: none;
  border: none;
  background-color: #8aff6e;
  /* position: relative;
  top: 3px; */
}

#area{
  background-color: white;
  border: solid 1px gray;
  padding: 20px;
  width: 660px;
}
#area p:nth-child(1){
  color: #59e470;
  margin-bottom: 10px;
}
#area p:nth-child(2){
  color: green;
  margin-bottom: 10px;
}
#area ul{
  display: flex;
}
#area ul:nth-child(1){
  margin-bottom: 5px;
}
#area form button{
  background-color: white;
  color: #2f7f3c;
  padding: 3px;
  border: none;
}

.janru{
  height: 250px;
}
.janru ul:nth-of-type(2){
  margin-bottom: 60px;
}
.scene, .jyoken{
  height: 125px;
}
.janru ul, .scene ul{
  margin-left: 15px;
  padding-right: 15px;
}
.janru, .scene, .jyoken{
  padding: 10px 0px;
  margin-bottom: 15px;
}
.janru p, .scene p, .jyoken p{
  padding-left: 10px;
}
.janru ul, .scene ul, .jyoken ul{
  display: flex;
}
.janru ul a, .scene ul a, .jyoken ul a{
  text-align: center;
  padding-top: 35px;
  height: 65px;
  width: 100px;
}
.janru ul:nth-of-type(1), .janru ul:nth-of-type(3),
.scene ul:nth-of-type(1), .jyoken ul:nth-of-type(1){
  position: absolute;
  margin-left: 15px;
}
.janru ul:nth-of-type(2) li, .janru ul:nth-of-type(4) li,
.scene ul:nth-of-type(2) li, .jyoken ul:nth-of-type(2) li{
  margin-left: 0px;
  height: 65px;
  width: 100px;
  z-index: 5;
}

.janru ul:nth-of-type(1) li, .janru ul:nth-of-type(3) li,
.scene ul:nth-of-type(1) li{
  padding-right: 20px;
  opacity: 0.5;
  z-index: 1;
}
.janru ul:nth-of-type(1) li:nth-last-of-type(1), .janru ul:nth-of-type(2) li:nth-last-of-type(1),
.janru ul:nth-of-type(3) li:nth-last-of-type(1), .janru ul:nth-of-type(4) li:nth-last-of-type(1),
.scene ul:nth-of-type(1) li:nth-last-of-type(1), .scene ul:nth-of-type(2) li:nth-last-of-type(1){
  margin: 0px;
}
.scene ul:nth-of-type(2) li{
  margin-right: 20px;
}

.jyoken ul:nth-of-type(1) li{
  padding-right: 50px;
  opacity: 0.5;
  z-index: 1;
}
.jyoken ul:nth-of-type(1) li:nth-last-of-type(1), .jyoken ul:nth-of-type(2) li:nth-last-of-type(1){
  padding-right: 0px;
  margin-right: 0px;
}
.jyoken ul:nth-of-type(2){
  margin-left: 15px;
}
.jyoken ul:nth-of-type(2) li{
  margin-right: 50px;
}

.janru ul a:hover, .scene ul a:hover, .jyoken ul a:hover{
  font-size: 18px;
}

.square{
  border: solid darkgray 1px;
  background-color: #e2ffef;
  width: 660px;
  height: 110px;
  padding: 20px;
}
#osusume{
  margin-top: 40px;
  height: 465px;
}
#osusume section{
  border: solid gray 1px;
  background-color: white;
  padding: 10px;
  height: 150px;
  width: 300px;
  margin-bottom: 20px;
}
#osusume > ul{
  display: flex;
  width: 680px;
  position: relative;
  top: -90px;
}
#osusume section p:nth-child(2){
  width: 145px;
  position: relative;
  top: -156px;
  left: 80px;
}
#osusume section p:nth-child(3){
  width: 125px;
  position: relative;
  top: -157px;
  left: 70px;
}
#osusume section p:nth-child(4){
  font-size: 11.5px;
  width: 140px;
  position: relative;
  top: -158px;
  left: 80px;
}
#osusume section ul{
  width: 140px;
  font-size: 12px;
  position: relative;
  top: -155px;
  left: 80px;
}
#osusume section ul li:nth-of-type(1){
  margin-bottom: 2px;
}
#osusume section ul span{
  font-weight: bolder;
}

#osusume .left{
  /* position: relative;
  left: -190px; */
}

footer{
  background-color: #59e470;
  padding: 20px 10px;
  font-size: 11px;
  color: dimgray;
}
footer ul{
  display: flex;
}
footer p{
  text-align: center;
  padding-top: 10px;
}
