@charset "UTF-8";

/*初期化*/
*{
	margin:0px;
	padding:0px;
}
html{
	scroll-behavior: smooth;
}
li{
	list-style-type: none;
	list-style-position: outside;
}
a{
	text-decoration: none;
}
div{
   box-sizing: border-box;
}
img{
	height: 80vh;
}
/*--------------header--------------*/
#header{
    border-bottom: solid 1px #c4c2c2;
    outline: solid 3px #e9e7e7;
    height: 100px;
    margin-bottom: 50px;
}

/*---------------center----------------*/
.center{
    width: 75%;
    margin: auto;
    text-align: center;
}
.center input{
    margin-top: 30px;
}

/*-----------content-----------*/
