@charset "UTF-8";

/*初期化*/
*{
	margin:0px;
	padding:0px;
}
html{
	scroll-behavior: smooth;
}
li{
	list-style-type: none;
	list-style-position: outside;
}
a{
	text-decoration: none;
}
div{
   box-sizing: border-box;
}
img{
	height: 80vh;
}
/*--------------header--------------*/
#header{
    border-bottom: solid 1px #c4c2c2;
    outline: solid 3px #e9e7e7;
    height: 100px;
    margin-bottom: 50px;
}

/*---------------center----------------*/
.center{
    width: 75%;
    margin: auto;
    display: flex;
}
/*-----------c_left-----------*/

/*----------li　デザイン--------*/
#navi{
    width: 790px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* display: table; */
    overflow:hidden;
    /* background-color: #e9e7e7; */
    margin: 10px 10px 10px 0;
  }
#navi li{
    text-align: center;
    /* display:table-cell; */
    width: 450px;
    padding: 1.75px;
    margin-right: 10px;
    font-size: 0.85em;
    position:relative;
    background-color: #e9e7e7;
}
#navi li:last-child{
    padding-right: 1em;
}
#navi li:last-child:before,
#navi li:last-child:after{
    display:none;
}
#navi li:before,
#navi li:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin: auto;
  }
  #navi li:before{
    top:-1px;
    right:-1.05em;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-width: 13px 0 13px 1em;
    z-index: 10;
}
#navi li:after{
    top:-1px;
    right:-0.95em;
    border-style: solid;
    border-color: transparent transparent transparent #e9e7e7;
    border-width: 13px 0 13px 1em;
    z-index: 10;
}
#navi li.color{
    background: #CC0000;
    font-weight: bold;
    color: #fff;
}
#navi li.color:after{
    border-color: transparent transparent transparent #CC0000;
}
#navi li:last-child{
    margin-right: -10px;
}
/*------------------*/
#c_left{
    width: 80%;
}
#c_right{
    width: 23%;
}

#c_left h2,#c_right h2{
    font-size: 1em;
    margin: 0;
    padding: 0 0 0 5px;
    border-left: 5px solid #CC0000;
}
#left_con{
    font-size: 0.8em;
    width: 800px;
    padding: 10px;
}
#left_con table{
    margin: auto;
    border-collapse: collapse;
}
#left_con form{
    margin: 20px;
}
#left_con table th{
    background-color: #e9e7e7;
    font-weight: 500;
    width: 200px;
}
#left_con table th,#left_con table tr{
    border: solid 1px #c4c2c2;
    padding: 10px;
}
#left_con table tr td:nth-child(2){
    width: 400px;
}
#left_con table input{
    height: 20px;
    margin: 5px;
}

#veri{
    border: solid 1px #c4c2c2;
    border-radius: 2%;
    width: 625px;
    margin: auto;
    margin-bottom: 20px;
}
#bun{
    margin-left: 150px;
    padding: 10px;
}

#btn{
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}


/*---------------------------------------*/
#R_content {
    margin-top: 10px;
    font-size: 0.8em;
    border: solid 1px #c4c2c2;
    padding: 5px;
}
#step1{
    font-weight: bolder;
}

#y_n{
    display: flex;
    font-weight: bolder;
}
#yes{
    width: 80%;
}
.yes{
    list-style-type: none;
    text-align: center;
    margin: auto;
    width: 30px;
    height: 50px;
    background-color: rgb(241, 205, 205);
    color: #CC0000;
    font-weight: bolder;

    position: relative;
    margin-bottom: 1em;

}
.yes:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    left: 0;
    border-style: solid;
    border-color: rgb(241, 205, 205) transparent transparent transparent;
    border-width: 10px 15px 0 15px;
    z-index: 1;
}
#no{
    margin-left: 10px;
    background-color: #c4c2c2;
    color: #fff;
    width: 30px;
    font-weight: bolder;
    text-align: center;
    position: relative;
    margin-bottom: 1em;

}
#no:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    left: 0;
    border-style: solid;
    border-color: #c4c2c2 transparent transparent transparent;
    border-width: 10px 15px 0 15px;
    z-index: 1;
}
#support{
    margin-top: 20px;
    border: solid 1px #c4c2c2;
    padding: 5px;
    font-size: 0.9em;
}

/*------------------*/
#err{
    margin: auto;
    border: solid 1px red;
    font-weight: bolder;
    color: #CC0000;
    padding: 20px;
    width: 580px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

/*---------------*/
#msg{
    margin-top: 50px;
    padding: 50px;
    font-size: 1.1em;
    border: solid 1px #c4c2c2;
    text-align: center;
}


.mar{
    margin-left: 5px;
}