@charset "UTF-8";

/*初期化*/
*{
	margin:0px;
	padding:0px;
}
html{
	scroll-behavior: smooth;
}
li{
	list-style-type: none;
	list-style-position: outside;
}
a{
	text-decoration: none;
}
div{
   box-sizing: border-box;
}
img{
	height: 80vh;
}
/*-----------------------------------------*/

/*---------------center----------------*/
.center{
    width: 75%;
    margin: auto;
}

/*--------------header--------------*/
#header{
    border-bottom: solid 1px #c4c2c2;
    outline: solid 3px #e9e7e7;
    height: 100px;
    margin-bottom: 50px;
}
/*-------li デザイン--------*/
#nav{
    margin: 20px;
}
/* #navi ul{
    display: flex;
    justify-content: center;
}
#navi li{
    width: 150px;
    text-align: center;
} */

#navi{
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* display: table; */
    overflow:hidden;
    /* background-color: #e9e7e7; */
    margin: 10px 10px 10px 0;
  }
#navi li{
    text-align: center;
    /* display:table-cell; */
    width: 150px;
    padding: 1.75px;
    margin-right: 10px;
    font-size: 0.85em;
    position:relative;
    background-color: #e9e7e7;
}
#navi li:last-child{
    padding-right: 1em;
}
#navi li:last-child:before,
#navi li:last-child:after{
    display:none;
}
#navi li:before,
#navi li:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin: auto;
  }
  #navi li:before{
    top:-1px;
    right:-1.05em;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    border-width: 13px 0 13px 1em;
    z-index: 10;
}
#navi li:after{
    top:-1px;
    right:-0.95em;
    border-style: solid;
    border-color: transparent transparent transparent #e9e7e7;
    border-width: 13px 0 13px 1em;
    z-index: 10;
}
#navi li.color{
    background: #CC0000;
    font-weight: bold;
    color: #fff;
}
#navi li.color:after{
    border-color: transparent transparent transparent #CC0000;
}
#navi li:last-child{
    margin-right: -10px;
}

/*-----------content-----------*/
.center h2{
    margin: 10px;
}
.center table{
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.center table th,
.center table td{
    border: solid 1px #c4c2c2;
    padding: 10px;
}

.center table th{
    width: 200px;
    background-color: #e9e7e7;
    font-weight: 500;
}

.center  tr:nth-child(6) td{
    border-right-style:none; 
    border-left-style:none;
    border-bottom-style: none;
}


.keikoku{
    text-align: center;
    margin-bottom: 20px;
    color: #cc0000;
    font-weight: bold;
}
.center #commnt{
    text-align: center;
    margin-top: 50px;
}

input[type="text"],input[type="password"],textarea{
    height: 25px;
    width: 250px;
}

/*----------------------------*/
#commnt a{
    margin-top: 20px;
}
.font{
    font-weight: bolder;
    color:#CC0000;
}