@charset 'utf-8';

#calendar {
    display: flex;
    flex-wrap: wrap;
}

#calendar_form li{
    display: inline-block;
}

section {
    margin: 10px;
}

#calendar_form table {
    border-spacing: 0;
    border-collapse: collapse;
}

#calendar_form td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

#calendar_form td:first-child {
    color: red;
}

#calendar_form td:last-child {
    color: royalblue;
}

#calendar_form td.is-disabled {
    color: #ccc;
}

#calendar_form td.calendar_index {
    color: black;
    font-weight: bold;
}

/*.calendar_td:target{
    background-color: #b0fdb0;
}*/

a.day_click {
    color: green;
    text-decoration: none;
}

a.day_click:hover{
    color: red;
}

button.day_click{
    background-color: transparent;
    padding: 0px;
    color: green;
    border-style: none;
}

button.day_click:focus {
    outline:0;
}

button.day_click:hover{
    color: red;
}