@charset "UTF-8";

/*初期化*/
*{
	margin:0px;
	padding:0px;
}
html{
	scroll-behavior: smooth;
}
li{
	list-style-type: none;
	list-style-position: outside;
}
a{
	text-decoration: none;
}
div{
   box-sizing: border-box;
}

/*--------------------------------------*/
#content{
    margin: auto;
	border: solid 1px rgb(180, 179, 179);
	border-radius: 5%;
	width: 500px;
	text-align: center;
}
#registration{
	border-bottom: solid 1px #ccc;
	padding: 40px 64px;
}
#registration a{
    display: block;
    margin: 8px 0 0;
    border: 1px solid #009944;
    background: #009944;
    color: #fff;
    font-weight: bolder;
    line-height: 40px;
}
#registration a:hover{
    border: 1px solid #027033;
    background: #027033;

}
#login{
	padding: 24px 64px 32px;
}
#login h2{
	margin-bottom: 25px;
}
.input{
	margin-bottom: 30px;
}
.input input{
	height: 30px;
	width: 340px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
	font-size: 16px;
}
.btn{
	background: #90c455;
    border: 1px solid #90c455;
    font-weight: bolder;
	color: #fff;
	display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
	text-align: center;
	margin-bottom: 30px;
}
.btn:hover{
	background-color: #78a347;
}
.err{
    color: #ff0000;
    width: 340px;
    padding: 10px 16px 8px;
    text-align: center;
    border: solid 1px red;
    font-weight: bold;
    margin-bottom: 30px;
}
