@charset "utf-8";

*{
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
}

#wrapper{
	border: solid black 1px;
	background-color: #f9fffa;
	width: 730px;
	margin: auto;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 100px;
	border-bottom: solid 1px #c4c2c2

}

h2{
	margin: 20px;
	font-size: 1.0em;
}

ul{
	margin-bottom: 20px;
	margin-left: 20px;
}

li{
	font-size: 1.1em;
	margin-bottom: 5px;
}