@charset "utf-8";

*{
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
}

#wrapper{
	border: solid black 1px;
	background-color: #f9fffa;
	width: 730px;
	margin: auto;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	height: 100px;
	border-bottom: solid 1px #c4c2c2

}