@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0px;
}
li {
    list-style-type: none;
    list-style-position: outside;
}
a{
  text-decoration: none;
  color: black;
}
header{
  padding: 10px 10px 11.5px 10px;
  background-color: #f0f0f0;
  height: 115px;
}
.sign{
  position: relative;
  top: -45px;
  right: -309px;
  width: 500px;
  display: flex;
  justify-content: center;
}
.sign a{
  background-color: #8aff6e;
  padding: 10px 30px;
  margin-left: 30px;
}
.sign button{
  height: 44.3px;
  color: green;
  background-color: #fff;
  border: solid 1px green;
  padding: 10px 30px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  top: -10px;
  font-weight: bold;
}
header form{
  position: relative;
  top: -20px;
}
header .input1{
	height: 30px;
	width: 130px;  
}
header .input2{
	height: 30px;
	width: 230px;  
}
header select{
  height: 33px;
  width: 170px;
}
.kensaku{
  height: 33px;
  width: 150px;
  text-decoration: none;
  border: none;
  background-color: #8aff6e;
  position: relative;
  top: 3px;
}
.kensaku img{
  position: relative;
  top: 5px;
  padding-left: 5px;
}

#wrapper{
  border: solid black 1px;
  width: 730px;
  margin: auto;
}

/*---------------*/

#main{
  margin: 15px 15px 0px 15px;
  /* background-color: #eeffe8; */
  padding-bottom: 5px;
  position: relative;
}

.kihon > p:nth-child(1){
  width: 390px;
  /* position: relative; */
  right: 148px;
  font-size: 13px;
  padding: 5px;
}
h1{
  width: 390px;
  /* position: relative; */
  right: 148px;
  font-weight: lighter;
  font-size: 25px;
  padding: 5px;
}
.kihon > p:nth-child(3){
  padding: 0px 5px;
}

.kihon section{
  border-radius: 20px;
  background-color: #dfdfdf;
  width: 250px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
.kihon section p{
  background-color: white;
  border-radius: 20px;
  width: 250px;
  font-size: 23px;
}
.kihon section span{
  font-size: 35px;
  padding: 0px 10px;
}

.kihon section ul{
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  margin-top: 10px;
}
.kihon section ul li{
  width: 70px;
  text-align: center;
  background-color: white;
  padding: 0px 0px 5px 3px;
  border: solid gray 1px;
}
.kihon section ul li:nth-child(1) img, .kihon section ul li:nth-child(2) img{
  position: relative;
  top: 5px;
  padding: 0px 5px;
}
.kihon section ul li:nth-child(3) img{
  position: relative;
  top: 3px;
  padding: 0px 5px;
}

#info > div > ul{
  display: flex;
  font-size: 13.5px;
  margin-top: 20px;
}
#info > div > ul > li{
  padding: 10px;
}

#main > ul{
  display: flex;
  margin-bottom: 10px;
}
#main > ul >li{
  width: 175px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}
#main > ul >li:nth-child(1){
  font-size: 15px;
  font-weight: bolder;
}

.right{
  width: 190px;
  background-color: white;
  position: absolute;
  right: 5px;
  padding-top: 10px;
}
.right section p{
  margin-bottom: 10px;
}
.right input{
  width: 130px;
}
.right select{
  margin-left: 20px;
  width: 130px;
  padding: 5px;
}
.right button{
  /* border: solid green 1px; */
  width: 190px;
  padding: 5px;
  margin-top: 10px;
  /* background-color: #59e470; */
  cursor: pointer;
}

.left{
  width: 500px;
  position: relative;
  right: 0;
}

/* .introduction{
  padding: 10px;
}
.introContent p{
  padding: 10px;
} */
hr{
  margin: 20px 10px 40px 10px;
  color: black;
}

.what{  /* what kind of info */
  /* border-left: solid 5px #8aff6e; */
  padding: 0px 10px;
  margin-bottom: 5px;
}
table{
  border: solid 1px darkgray;
  font-size: 15px;
  margin-bottom: 50px;
}
table td{
  border-bottom: solid 1px darkgray;
}
table tr:nth-last-of-type(1) td{
  border-bottom: none;
}
table td:nth-of-type(1){
  background-color: white;
  width: 120px;
  padding: 10px;
}
table td:nth-of-type(2){
  width: 330px;
  padding: 10px;
}

footer{
  background-color: #59e470;
  padding: 20px 10px;
  font-size: 11px;
  color: dimgray;
}
footer ul{
  display: flex;
}
footer p{
  text-align: center;
  padding-top: 10px;
}