/* @charset "utf-8";

#content{

	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
} */
@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0px;
}
li {
    list-style-type: none;
    list-style-position: outside;
}
a{
  text-decoration: none;
  color: black;
}
header{
  padding: 10px 10px 11.5px 10px;
  background-color: #f0f0f0;
}
.sign{
  position: relative;
  top: -45px;
  right: -309px;
  width: 500px;
  display: flex;
  justify-content: center;
}
.sign a{
  background-color: #8aff6e;
  padding: 10px 30px;
  margin-left: 30px;
}
header form{
  height: 60px;
  border: solid 1px red;
}
header .input1{
	height: 30px;
	width: 130px;  
}
header .input2{
	height: 30px;
	width: 230px;  
}
header select{
  height: 33px;
  width: 170px;
}
header button{
  height: 33px;
  width: 150px;
  text-decoration: none;
  border: none;
  background-color: #8aff6e;
  position: relative;
  top: 3px;
}
header button img{
  position: relative;
  top: 5px;
  padding-left: 5px;
}

#wrapper{
  border: solid blue 1px;
  width: 730px;
  margin: auto;
}


footer{
	background-color: #59e470;
	padding: 20px 10px;
	font-size: 11px;
	color: dimgray;
  }
  footer ul{
	display: flex;
  }
  footer p{
	text-align: center;
	padding-top: 10px;
  }
  