@charset "UTF-8";

/*初期化*/
*{
	margin:0px;
	padding:0px;
}
html{
	scroll-behavior: smooth;
}
li{
	list-style-type: none;
	list-style-position: outside;
}
a{
	text-decoration: none;
}
div{
   box-sizing: border-box;
}
/*-----------------------------------*/
.center table{
	width: 340px;
	line-height: 35px;
	margin: auto;
	border: solid 1px rgb(180, 179, 179);
	border-radius: 5%;

}
.center table tr th:nth-child(1){
	text-align: right;
	font-weight: 300;
}
.center table tr td:nth-child(2) input,
.center table tr td:nth-child(2){
	padding:5px;
}

.center table tr:nth-child(3) td{
	text-align: center;
}
.center table tr:nth-child(3) td label{
	margin-right: 30px;
	cursor:pointer;
}

.center table tr:nth-child(6) td{
	margin: 0 auto;
	text-align: center;
}

.btn{
	background: #90c455;
    border: 1px solid #90c455;
    font-weight: bolder;
	color: #fff;
    width: 50%;
    line-height: 45px;
    font-size: 14px;
    cursor: pointer;
	text-align: center;
	margin: 15px;
	border-radius: 5%;
}
.btn:hover{
	background-color: #78a347;
	border: 1px solid #78a347;

}