@charset "utf-8";


/* #content{
	width: 1200px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;

} */

.section ul:after{
	content: "";
	clear: both;
	display: block;
}

.section ul li{
	width: 160px;
	height: 160px;
	margin: 20px;
	display: block;
	float: left;
	background-color: #90f390;
	text-align: center;
}

.section li a{
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}

/*.section ul li {
  width: 15%;
  margin: 0 1%;
}
.section ul li:nth-child(6n+1) {
  margin: 0 1% 0 0;
}
.section ul li:nth-child(6n) {
  margin: 0 0 0 1%;
}*/